@import "tailwindcss";

/* activa el plugin que acabas de crear */
@plugin "./hero.ts";

/* dile a Tailwind dónde están los estilos de HeroUI */
@source "../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}";

/* (opcional) variante dark por clase .dark */
@custom-variant dark (&:is(.dark *));


@import "leaflet/dist/leaflet.css";



.invisible-anchor { width: 0; height: 0; border: none; }


.leaflet-tooltip.tooltip-msg {
  font-weight: 600;
  border-radius: 8px;
  padding: 8px 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}


.leaflet-tooltip.tooltip-error {
  background: #dc2626;         
  border-color: #b91c1c;    
  color: #fff;
}
.leaflet-tooltip-top.tooltip-error:before {
  border-top-color: #b91c1c; 
}

/* Scrollbar oculto pero funcional */
.scroll-smooth::-webkit-scrollbar {
  width: 0px;   /* Oculto */
  height: 0px;  /* Para scroll horizontal */
}

.scroll-smooth {
  scrollbar-width: none; /* Firefox */
}
